<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>ameeeda 勤怠管理システム</title>
    <link rel="stylesheet" href="stylesheet.css">
   
</head>

<body>
    <div class ="header">
        <p>勤怠管理システム</p>
        <img class="logo" src="img/logo.jpg" alt="Logo">

    </div>

    
    <section class="log-in" >
        <div class="container" >
            <div class="text">
                <h2 >Login</h2>
                
            </div>
    
            <form class="form">
                <p>
                    <label>
                        <span class="sr-only">ID</span>
                        <input type="text" name="id"
                         placeholder="id">
                    </label>
                </p>
                <p>
                    <label>
                        <span class="sr-only">パスワード</span>
                        <input type="text" name="passward"
                         placeholder="passward">
                    </label>
                </p>
                
                <p>
                    <input type="submit" value="ログイン" class="btn">
                </p>

                <h3>新規登録は<a href=#>こちら</a></h3>
            </form>
        </div>
    </section>

    <div class = "footer">
        
        <img class="footer-logo" src="img/logo-black.png" alt="Logo-black">

    </div>

</body>


