@charset "UTF-8";

/* 基本 */
body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
	width: 84%;
	margin: 0 auto;
}
html {
    font-size: 100%;
}



/* リセット / ノーマライズ / サニタイズ */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



body, h1, h2, h3, h4, h5, h6, p, ul, figure{
    margin: 0;
    padding: 0;
}



img {
    max-width: none;
}




/* ヘッダー*/


.header{
    height: 65px;
    background-color: white;
  
}

.logo{
    top: 2px;
    left: 8px;
    width: 100%;
    max-width: 200px;
    height: auto;
    float: right;
}


.header p{
    float:right;
    font-weight: bold;
    border-bottom: solid 3px  rgb(253, 85, 43);
    margin: 20px 40px 0 20px;
}



/* メイン */
.main{
    height: 400px;
    background-color: white;
}



/* ログイン */
.log-in {
	padding: 62px 0;
	background-color: rgba(255, 255, 255, 0.904);
	color: #363636;

}

.log-in h2 {
	margin-bottom: 42px;
    font-size: 28px;
    text-align: center;
}


.form {
	margin-top: 46px;
}



.form .btn {
	width: 100%;
	margin: 0;
	border: solid 2px #c91205b2;
	background-color: rgb(253, 85, 43);
	color: #ffffff;
	cursor: pointer;
    -webkit-appearance: none;
    font-weight: bold;
}

.form .btn:hover{
	background-color: white;
	color: rgb(63, 63, 63)
}



.form{
    position: relative;
    z-index: 1;
    background: #f5f5f4;
    max-width: 250px;
    margin: 0 auto 80px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    top: 20%;
}

.form input{
    outline: none;
    border-radius: 10px;
    background: #fffdfc;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box  ;
    font-size: 15px;
}

.form p {
    margin: 15px 0 0;
    font-size: 15px;
    font-weight: bold;
}



.form h3{
    font-size: 16px;
    padding-top: 20px;
    font-weight: 500;
}

.form a {
    color:#1c8adb;
}

#container{
    position: relative;
    top: 10%;
    max-width: 80%;
    border:#1c8adb;
    border-width: 5px;
    margin-top: 5%;
    margin-left: 10px;
}


/* フッター */

.footer{
    height:80px;
    background-color: black;
    color: white;
}


.footer-logo{
    height: 50px;
    margin: 20px 0 30px 30px;
}