* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* ヘッダー */
header {
    height: 65px;
}

.logo {
    top: 2px;
    left: 8px;
    width: 100%;
    max-width: 200px;
    height: auto;
    float: right;
}

header p {
    float: right;
    font-weight: bold;
    border-bottom: solid 3px rgb(253, 85, 43);
    margin: 25px 40px 0 20px;
}

/* ナビゲーション */
.navigation {
    margin: 20px 0 0 0;
    border: double #999999;
    border-width: 7px 0 7px 0;
    height: 70px;
}

.nav-list {
    margin: 0 0 0 130px;
    position: relative;
}

#menu {
    position: absolute;
    top: 0;
    left: 30px;
}

#menu .list:hover {
    color: rgb(253, 85, 43);
}
#menu li ul {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
}

#menu .list ul #logout a {
    display: inline-block;
    height: 20px;
}
#menu .list ul #logout a:hover {
    color: rgb(253, 85, 43);
}

.list {
    display: inline-block;
    margin: 0 30px 0 0;
    font-size: 17px;
    font-weight: bold;
}

#list-account {
    height: 50px;
    width: 50px;
    margin: 4px 0 0 0;
}

a {
    text-decoration: none;
    color: black;
    height: 100px;
}

a:hover {
    color: rgb(253, 85, 43);
}

/* メイン */
.container {
    display: flex;
    justify-content: space-around;
    margin: 60px 0 0 0;
}

.time-field {
    width: 500px;
}

.attendance-datetime {
    text-align: center;
}

.attendance-button-group {
    margin: 40px 0 0 0;
}

.attendance-button {
    font-size: 20px;
    margin: 0 15px;
    padding: 0 10px;
}

.attendance-table {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    height: 120px;
    width: 500px;
    margin: 30px 0 0 0;
}

th {
    border: 2px solid;
    background-color: #dddddd;
    /* padding: 5px; */
}

td {
    border: 2px solid;
    /* padding: 5px; */
}

/* フッター */
footer {
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
}

.footer-logo {
    height: 50px;
    margin: 20px 0 30px 30px;
}
